<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor</title>
    <style>
        li {
        	padding: 5px
        }
        table{
            width: 40%;
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <li id="name">name: $name</li>
        <li id="birthDate">birthDate: $birthDate</li>
        <li id="nationality">nationality: $nationality</li>
        <li id="tma">Total movies acted in: $tma</li>
    </ul>
    <table>
        <tr>
            <th>Movie</th>
            <th>imdb Rate</th> 
            <th>rating</th> 
            <th>page</th> 
        </tr>
        $movies
    </table>
</body>
</html>
