<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        width: 20%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <ul>
      <li id="name">name: $name</li>
      <li id="summary">summary: $summary</li>
      <li id="releaseDate">releaseDate: $releaseDate</li>
      <li id="director">director: $director</li>
      <li id="writers">writers: $writers</li>
      <li id="genres">genres: $genres</li>
      <li id="cast">cast: $cast</li>
      <li id="imdbRate">imdb Rate: $imdbRate</li>
      <li id="rating">rating: $rating</li>
      <li id="duration">duration: $duration</li>
      <li id="ageLimit">ageLimit: $ageLimit</li>
    </ul>

    <form action="/api/rateMovie/$ID" method="POST">
      <label>Your ID:</label>
      <input type="text" name="user_id" value=""/>
      <label>Rate(between 1 and 10):</label>
      <input type="number" id="quantity" name="quantity" min="1" max="10">
      <button type="submit">rate</button>
    </form>
    <br>
    <form action="/api/addToWatchList/$ID" method="POST">
      <label>Your ID:</label>
      <input type="text" name="user_id" value=""/>
      <button type="submit">Add to WatchList</button>
    </form>
    <br/>

    <table>
      <tr>
        <th>nickname</th>
        <th>comment</th>
        <th>likes</th>
        <th>dislikes</th>
      </tr>
      $comments
    </table>
  </body>
</html>
