<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movie</title>
    <style>
      li {
        padding: 5px;
      }
      table {
        width: 20%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <ul>
      <li id="name">name: $name</li>
      <li id="summary">summary: $summary</li>
      <li id="releaseDate">releaseDate: $releaseDate</li>
      <li id="director">director: $director</li>
      <li id="writers">writers: $writers</li>
      <li id="genres">genres: $genres</li>
      <li id="cast">cast: $cast</li>
      <li id="imdbRate">imdb Rate: $imdbRate</li>
      <li id="rating">rating: $rating</li>
      <li id="duration">duration: $duration</li>
      <li id="ageLimit">ageLimit: $ageLimit</li>
    </ul>
    <table>
      <tr>
        <th>nickname</th>
        <th>comment</th>
        <th></th>
        <th></th>
      </tr>
      $comments
    </table>
  </body>
</html>
