<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WatchList</title>
    <style>
        li {
        	padding: 5px
        }
        table{
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <li id="name">name: $name</li>
        <li id="nickname">nickname: $nickname</li>
    </ul>
    <table>
        <tr>
            <th>Movie</th>
            <th>releaseDate</th> 
            <th>director</th> 
            <th>genres</th> 
            <th>imdb Rate</th> 
            <th>rating</th> 
            <th>duration</th>
            <th>view</th>
            <th>remove</th>
        </tr>
        $movies
    </table>
</body>
</html>